.properties--container {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 257px;
}


@media only screen and (min-width: 768px) {
    .properties--container {
        width: 400px;
        height: 215px;
    }  
}