.card--flex--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.devices--size {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0px 4px 4px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    color: #BDBDBD;
	width: -webkit-calc(100% - 232px/2);
	width: -moz-calc(100% - 232px/2);
	width: calc(100% - 232px/2);
}

.cardGrid--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1472px){
    .cardGrid--flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .devices--size {
        max-width: 1240px;
    }
}