.actions__filter {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #F6F6F8;
    height: 32px;
    width: 150px;
    padding: .2rem;
    transition: .2s;
    cursor: pointer;
}

.actions__filter:active {
    box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65);
}

.filter__title {
    font-weight: 700;
    color: #000000d9;
}