.grid__icon--container {
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;  
    border-radius: .1rem;
    align-content: stretch;
    padding: .1rem;
}

.grid__icon--container span {
    width: 6.9px;
    height: 6.9px;
    border: 1.9px solid #838691;;
    border-radius: .15rem;
}

.grid--selected {
    background: #F6F6F8;
}

.grid--selected span {
    background: #838691;
}


