.actions__list--container {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: .1rem;
}

.list__icon--circle {
    width: 3px;
    height: 3px;
    border: 0.5px solid #838691;
    border-radius: 1.5px;
}

.list__icon--line {
    width: 10px;
    height: 1.5px;
    border: 0.8px solid #838691;
    background-color: #838691;
    border-radius: 1.5px;
}

.list--selected {
    background: #F6F6F8;
}

.list--selected .list__icon--circle {
    background-color: #838691;
}



/* .actions__listView {
    position: relative;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
}

.list--selected {
    background-color: #F6F6F8;
} */