.toolbar--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 80px;
    border: 1px solid #EDEDF0;
    padding: .5rem;
}

.toolbar__actions--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 25px;
    gap: .5rem;
}

.actions__listView--wrap {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.actions__listView--wrap:hover {
    background: #F6F6F8;
}

.actions__listView {
    position: relative;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
}

.actions__gridView--container {
    width: 20px;
    height: 20px;
    background-color: beige;
}

.actions__filter {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #F6F6F8;
    height: 32px;
}

@media only screen and (min-width: 480px){
    .toolbar--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
        height: 48px;
    }

    .toolbar__actions--container {
        gap: 1rem;
    }
}


